{% extends 'core/index.html' %}

{% block content %}
    <head>
        <title> Browse </title>
    </head>

       <div class="Booklist">
           <h1> Explore </h1>
       </div>
       
        {% for browse in browse %}
            <div class="Books">
                <h3>{{browse.name}}</h3>
                <p>{{browse.author}}</p>
                <p>{{browse.description}}</p>
                <p>{{browse.price}}</p>
                <a> <img class='book-img' src="{{browse.img}}" height="200" width="135"> </a> 
            </div>    
        {% endfor %}

    </body>
{% endblock %}