{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    </head>
    
    <body>
        <div class="topnav">
            <nav>
                 <a href='/' id='title'> Bookalicious </a>
                 <a href='/'> Home </a>
                 <a href="/Books"> Browse </a>
                 <a href="/Discussion"> Discusion </a>
            </nav>
        </div>

        {% block content %}
        {% endblock %}

    </body>
    
</html>